@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.bg_gray_full{
    background-color: rgb(224, 224, 224);
    height: 100vh;
}

.bg_white{
    background-color: #ffff;
}

.poppins_font{
    font-family: 'Poppins', sans-serif;
}

.margin_top_5{
    margin-top: 5em !important;
}

.margin_top_10{
    margin-top: 1em !important;
}

.margin_top_1{
    margin-top: -0.8em !important;
}

.font_sm{
    font-size: 0.8em;
}

.float_right{
    float: right;
}

.margin_left_1{
    margin-left: 1em;
}

.margin_right_1{
    margin-right: 1em;
}